.dropCap {
  float: left;
  font-size: 5.3em;
  line-height: 70%;
  padding-right: 6px;
  font-family: $whitmanDisplay !important;
  margin-top: 6px;
}

.project-body {
  visibility: hidden;
  padding: 0 2%;
  h3 {
    font-family: $whitmanDisplay;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 16px;
    font-size: 2.2em;
  }
  @include media("≥phone", "≤tablet") {
    visibility: visible;
    position: relative;
    display: block;
    h3 {    
      margin-top: 30px;
      font-size: 2em;
    }
  }
}

.intro {
  width: 853px;
  font-size: 2.35em;
  margin-top: 0;
  margin-bottom: .5em;
  font-family: $whitmanDisplay;
  line-height: 140%;
  @include media("≥phone", "≤tablet") {
    width: 100%;
    font-size:1.85em;
  }
}

aside.article-share {
  margin-top: 230px;
   @include media("≥phone", "≤tablet") {
      margin-top: 0;
  }
}

.topCaption {
  z-index: 2;
  width: 190px;
  position: absolute;
  right: -300px;
  margin-top: 24px;
}

.article-byline-mod {
  padding-bottom: 35px;
}

.article-byline {
  border-right: none;
  margin-top: 8px;
}

.article-byline a:hover {
  color: #999;
}

.article-byline-mod:before {
  display: none;
}

.article-byline-mod {
  margin-top: 0;
}

.article-byline.notes {
  font-size: .95em;
}

.article-dateline {
  margin-top: 6px;
}

.related-caption,
.related-caption.package-caption {
  padding-top: 12px;
  @include clearfix;
}

.source {font-size:.85em;color:#666666;}



@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {



  h4.mobile.home-logo{
    @include clearfix;
    margin-top:-50px
  }

  .package-byline {
    line-height:110%;
  }



  .desktop {
    display: none;
  }
   
  .topCaption,
  .article-featured-gallery-mod {
    display: none;
  }

}