@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
.dropCap {
  float: left;
  font-size: 5.3em;
  line-height: 70%;
  padding-right: 6px;
  font-family: "Whitman Display", sans-serif !important;
  margin-top: 6px;
}

.project-body {
  visibility: hidden;
  padding: 0 2%;
}
.project-body h3 {
  font-family: "Whitman Display", sans-serif;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 16px;
  font-size: 2.2em;
}
@media (min-width: 320px) and (max-width: 768px) {
  .project-body {
    visibility: visible;
    position: relative;
    display: block;
  }
  .project-body h3 {
    margin-top: 30px;
    font-size: 2em;
  }
}

.intro {
  width: 853px;
  font-size: 2.35em;
  margin-top: 0;
  margin-bottom: .5em;
  font-family: "Whitman Display", sans-serif;
  line-height: 140%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .intro {
    width: 100%;
    font-size: 1.85em;
  }
}

aside.article-share {
  margin-top: 230px;
}
@media (min-width: 320px) and (max-width: 768px) {
  aside.article-share {
    margin-top: 0;
  }
}

.topCaption {
  z-index: 2;
  width: 190px;
  position: absolute;
  right: -300px;
  margin-top: 24px;
}

.article-byline-mod {
  padding-bottom: 35px;
}

.article-byline {
  border-right: none;
  margin-top: 8px;
}

.article-byline a:hover {
  color: #999;
}

.article-byline-mod:before {
  display: none;
}

.article-byline-mod {
  margin-top: 0;
}

.article-byline.notes {
  font-size: .95em;
}

.article-dateline {
  margin-top: 6px;
}

.related-caption,
.related-caption.package-caption {
  padding-top: 12px;
  overflow: hidden;
  *zoom: 1;
}

.source {
  font-size: .85em;
  color: #666666;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  h4.mobile.home-logo {
    overflow: hidden;
    *zoom: 1;
    margin-top: -50px;
  }

  .package-byline {
    line-height: 110%;
  }

  .desktop {
    display: none;
  }

  .topCaption,
  .article-featured-gallery-mod {
    display: none;
  }
}
.projectGraphic.barChart {
  width: 220px;
  right: 0;
  float: right;
  margin: 10px -329px 10px 29px;
  position: relative;
  padding-bottom: 16px;
  overflow: hidden;
  *zoom: 1;
}

.projectGraphic.mooseMap {
  width: 425px;
  right: 0;
  float: right;
  margin: 10px -329px 10px 29px;
  position: relative;
  padding-bottom: 16px;
  overflow: hidden;
  *zoom: 1;
}
.projectGraphic.mooseMap .rangeKeyBox {
  margin-bottom: 7px;
}
.projectGraphic.mooseMap span.rangeKey {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #bbb095;
  margin-right: 10px;
  margin-top: -2px;
}
.projectGraphic.mooseMap span.rangeKey1 {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #95c0cd;
  margin-right: 10px;
  margin-top: -2px;
}

.projectGraphic.moosePie span.rangeKey2 {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b4a88c;
  margin-right: 10px;
  margin-top: -2px;
}
.projectGraphic.moosePie .project-table {
  margin: -10px 0 12px 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .projectGraphic h4 {
    font-size: 1.25em;
    margin-bottom: 9px;
    line-height: 120%;
  }

  .projectGraphic h4.label, .projectGraphic .rangeKeyBox {
    text-align: left;
    font-size: 1em;
    left: 0;
  }

  /*MOBILE moosemap*/
  .projectGraphic.mooseMap, .projectGraphic.moosePie, .projectGraphic.barChart {
    width: 100%;
    left: 0;
    float: none;
    margin: 2em 0;
    position: relative;
    padding-bottom: 16px;
    overflow: hidden;
    *zoom: 1;
    overflow: hidden;
    text-align: center;
  }
}
.hero {
  overflow: hidden;
  position: relative;
  height: 0;
  margin-bottom: 3em;
  margin-top: -50px;
  opacity: 0;
  background-image: url("http://stmedia.stimg.co/mooseCover2.jpg?w=2500");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  animation: introFade 5s 3s ease-out forwards;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-family: "Whitman Display", sans-serif;
  font-size: 5.55em;
  line-height: 90%;
  letter-spacing: -2px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 2;
  text-align: center;
  width: 25%;
  text-shadow: 2px 2px 20px black, 2px 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: introFade 2s 4s ease-in forwards;
}
@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 3.10em;
    color: #000;
    line-height: 100%;
    top: 360px;
    left: 0px;
    color: #fff;
    width: 100%;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
  }
}

@keyframes introFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* hero kerning*/
.av {
  letter-spacing: -8px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .av {
    letter-spacing: -6px;
  }
}

.scroll-label {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 1em !important;
  text-align: center;
  margin-top: 36px !important;
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 25%;
  z-index: 2;
  opacity: 0;
  animation: introScrollFade 5s 7s ease-out forwards;
}
.scroll-label img {
  display: block;
  margin: 6px auto 0 auto;
  width: 30px;
}

@keyframes introScrollFade {
  from {
    opacity: 0;
  }
  to {
    opacity: .65;
  }
}
.mobile-hero {
  display: none;
}

.isMobile .hero {
  display: none;
}

.crop-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1NiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(56%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.2) 56%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.2) 56%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.2) 56%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  height: 15%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .crop-gradient {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI3NiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(76%, rgba(0, 0, 0, 0.65)), color-stop(100%, #000000));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.65) 76%, #000000 100%);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.65) 76%, #000000 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.65) 76%, #000000 100%);
    height: 35%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .isMobile .mobile-hero {
    position: relative;
    background: url("http://stmedia.stimg.co/mobileMooseCover2.jpg") center center no-repeat;
    background-size: cover;
    top: -70px !important;
    height: 450px;
    background-color: #000;
  }

  section.mobile-hero {
    display: block;
    width: 100%;
    top: -70px;
  }
}
@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .mfp-bg {
    width: 1200px;
    min-width: 100%;
  }

  .mfp-wrap {
    width: 1200px;
    min-width: 100%;
  }

  .mobile-hero.mobile {
    height: 600px;
    min-width: 1024px;
  }
}
.embed {
  width: 100%;
  overflow: hidden;
}

.moose-interactive {
  margin-left: -116px;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 970px;
}

.package-byline {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 9px;
  text-align: right;
  text-transform: uppercase;
  color: #909090;
  letter-spacing: 0.5px;
  margin-top: 4px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .moose-interactive {
    margin-left: 0;
    border: none;
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
  }
}
.photo-package {
  float: left;
  margin-bottom: 24px;
}
.photo-package .related-byline {
  display: none;
}
.photo-package .related-media {
  padding-bottom: 0;
}

/*MOOSE 1 Photo Package*/
.photo-package-moose1 {
  width: 400px;
  float: right;
  position: relative;
  margin: 90px -329px 0 30px;
}
.photo-package-moose1 .photo2 {
  margin-top: 0px;
  margin-bottom: 15px;
  float: none;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
.photo-package-moose1 .photo2 .expand-icn-wrapper {
  overflow: hidden;
}

/*MOOSE 2 Photo Package*/
.photo-package-moose2 {
  position: relative;
  margin-bottom: 16px;
  width: 970px;
  margin-left: -117px;
  margin-top: 14px;
}
.photo-package-moose2 .related-caption {
  display: none;
}
.photo-package-moose2 .expand-icn-wrapper {
  overflow: hidden;
}
.photo-package-moose2 .photo1 {
  float: left;
  width: 485px;
  overflow: hidden;
  *zoom: 1;
  margin: 0;
}
.photo-package-moose2 .photo2 {
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  width: 470px;
  overflow: hidden;
  *zoom: 1;
}
.photo-package-moose2 .photo3 {
  margin-top: 15px;
  margin-bottom: 0;
  float: right;
  width: 470px;
  overflow: hidden;
  *zoom: 1;
}
.photo-package-moose2 .related-caption.package-caption {
  padding-top: 0;
  display: block;
}
.photo-package-moose2 .package-byline {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 9px;
  text-align: right;
  text-transform: uppercase;
  color: #909090;
  letter-spacing: 0.5px;
  margin-top: 4px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  /*MOBILE MOOSE1 and MOOSE2*/
  .photo-package.photo-package-moose1, .photo-package.photo-package-moose2 {
    width: 100%;
    float: none;
    position: relative;
    margin: 2.5em 0 0 0 !important;
  }

  .photo-package.photo-package-moose2 .photo1, .photo-package.photo-package-moose2 .photo2, .photo-package.photo-package-moose2 .photo3 {
    width: 100%;
    float: none;
    position: relative;
    margin: 1em 0 0 0 !important;
  }

  .photo-package-moose2 .package-byline {
    display: none;
  }
}
.related-media.ticks-photo.size-m {
  float: right;
  width: 400px;
  margin: 24px -329px 24px 60px;
}
.related-media.ticks-photo.size-m .related-byline {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .related-media.ticks-photo.size-m {
    position: relative;
    width: 100%;
    margin: 24px auto 18px auto;
    right: auto;
    overflow: hidden;
    *zoom: 1;
    float: none;
  }
}
